.canvas-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

canvas {
  border: 1px solid #000;
}

.result {
  margin-left: 700px; /* Space between canvas and result */
  display: flex;
  align-items: center;
}

.chart-container {
  width: 500px;  /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  margin: auto;
  /* Center the chart horizontally */
}

.canvas-container {
  border: 1px solid #ccc; /* Optional: Border for canvas */
}

.con{
position: relative;
  top: -450px;
  left: 300px;
}